<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShuttleU.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>21A80EA22D0175CD0048F51E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21A80EB62D0175CE0048F51E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21A80EC02D0175CE0048F51E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
